@tailwind base;
@tailwind components;
@tailwind utilities;

/* User input digit colors */
.user-color-1 {
  color: hsl(20, 49%, 60%);
}
.user-color-2 {
  color: hsl(133.33 12% 50%);
}
.user-color-3 {
  color: hsl(140.88 19% 56%);
}
.user-color-4 {
  color: hsl(43 74% 56%);
}
.user-color-5 {
  color: hsl(27 87% 67%);
}
.user-color-6 {
  color: hsl(198 13% 55.00000000000001%);
}
.user-color-7 {
  color: hsl(168, 44%, 56%);
}
.user-color-7 {
  color: hsl(180 22% 48%);
}
.user-color-8 {
  color: hsl(292, 29%, 55%);
}
.user-color-9 {
  color: hsl(187, 61%, 63%);
}
